*{
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.app{
    display: flex;
    justify-content: center;

    .link{
        text-decoration: none;
    }

    .navbar{
        .container{
            padding: 1em 0em;
            display: flex;
            justify-content:space-around;


            .logo{
                img{
                    width: 10em;
                    margin-right: 50em;
                }
            }
            .links{
                display: flex;
                align-items: center;
                gap: 2em;

                h6{
                    font-size: 1em;
                    font-weight: 300;
                }

                span{
                    cursor: pointer;
                }
            }
        }        
    }
    .footer{
        margin-top: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(170, 161, 161);
        font-size: 0.8em;
    }

    .home-main{
        display: flex;
        flex-direction: column;
        margin-top: 10em;
        align-items: center;
        justify-content: center;


        .btn-home{
            padding: 1em;
                border: 0.2em solid rgb(62, 223, 255);
                border-radius: 0.8em;
                width: 10vw;
                margin-top: 10em;
                cursor: pointer;
                color: white;
    
                &:hover{
                    background-color: rgb(62, 223, 255);
                }
        }
    
    }
    .auth2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        height: 100vh;
    
        h1{
            font-size: 1.2em;
            color: rgb(49, 193, 255);
            margin-bottom: 1.2em;
            display: flex;
            justify-content: center;
        }
    
        form{
            display: flex;
            flex-direction: column;
            padding: 4em;
            border: 0.1em solid rgb(62, 223, 255);
            border-radius: 1.5em;
            width: 15em;
            gap: 1.2em;
    
            input{
                padding: 1em;
                border: none;
                border: 0.1em solid gray;
                border-radius: 0.8em;
            }
    
            .form-btn{
                padding: 1em;
                border: 0.2em solid rgb(62, 223, 255);
                border-radius: 0.8em;
                cursor: pointer;
                color: white;
    
                &:hover{
                    background-color: rgb(62, 223, 255);
                }
            }
            
            p{
                font-size: 0.9em;
                color: red;
                text-align: center;
            }
    
            span{
                font-size: small;
                text-align: center;
            }
        }
}
}